/* NAVBAR */

/*.navbar-default{
	background-color: #43a047;
}

.navbar-default .navbar-nav > li {
    border-left: 1px solid #43a047;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #fff;
    background-color: #4cb54d;
}

.navbar-default .navbar-nav > li > button:focus, .navbar-default .navbar-nav > li > button:hover {
    color: #fff;
    background-color: #4cb54d;
}

.navbar-default .open .navbar-account-btn, .navbar-default .open .user-account-btn:focus, .navbar-default .open .user-account-btn:hover {
    color: #fff;
    background-color: #4cb54d; 
}

.navbar-default .sidenav-toggler.collapsed {
    background-color: #43a047;
}*/

.navbar-brand>p {
    font-size: 15px;
}

/*.sidenav > li.active > a {
    color: #43a047;
}*/

/* FOOTER */
.footer-status {
	float: right;
	font-weight: 500;
}

/* ------------------------------- NOTES------------------------------- */

.notes{ 
	/*font-size: 12pt; */
	margin-bottom: 15px;
}

.notes h3{ 
	font-size: 18px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.notes ul{
	font-weight: 300;
	padding-left: 20px;
	margin-bottom: 0px;
}

.notes p{
	font-weight: 300;
	margin-bottom: 0px;
}

.notes small{ 
	margin-bottom: 0px;
	font-size: 13px;
}

.notes .card-header {
	border-bottom: none;
	padding: 15px 15px;
}

.notes .card-body {
	padding-top: 0px;
}

/* ------------------------------- QUESTIONNAIRE TAB WIZARD ------------------------------- */

.btn-unset {
	text-transform: unset;
}

.tab-content label{
	font-weight: 400;
}

.panel-wizard .tab-content{ 
	font-size: 12pt; 
}

.switch-questionnaire{
	margin-bottom: 15px;
}
.switch-questionnaire .switch-track{
	margin-left: 115px;
}

.switch-questionnaire .switch-thumb{
	margin-left: 115px;
}

.switch-questionnaire small{
	margin-left: 0px;
	line-height: 20px;
	width: 110px;
	font-size: 15px;
	font-weight: 550;
}

.larger-text{
	font-size: 18px;
}

.larger-text .form-control{
	height: 46px;
	padding: 10px 18px;
	font-size: 15px;
	line-height: 1.333333;
	border-radius: 6px;
}

.larger-text .form-control-evidence{
	height: 34px;
}

.larger-text .custom-control-label{
	line-height: 20px;
	margin-left: 26px;
}

.larger-text .custom-control-indicator{
	width: 20px;
	height: 20px;
}

.form-group .text-danger{
	margin-top: 5px;
	margin-bottom: 5px;
}

.no-shadow{
	box-shadow: none;
}

.datepicker{
	background-color: #fff !important; 
}

form .col-md-12{
	padding-left: 5px;
	padding-right: 5px;
}

.list-custom > .pull-right{
	margin-left: 10px;
	margin-bottom: 10px;
}

.alert-tombol{
	display: none !important;
}


.layout-nomargin{
	margin-left: 0px;
}


/* ------------------------------- RESPONSIVE FOR MOBILE VERSION ------------------------------- */

@media (max-width: 767px)  {
	.form-group {
		padding: 0px;
	}

	.table-header{
		display: none;
	}

	.list-custom > li{
		float: left !important;
		width: 100%;
		margin-left: 0px !important;
		margin-bottom: 0px !important;		
	}

	.list-custom > li > .btn{
		width: 100%;
		margin-bottom: 10px;
	}

	.form-number {
		background-color: #0288d1;
		color: #fff;
		border-radius: 5px;
		padding-top: 5px;
		padding-bottom: 5px;
		-webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12), 0 1px 3px 0 rgba(0, 0, 0, .2);
		box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12), 0 1px 3px 0 rgba(0, 0, 0, .2);
	}

	.nav > li{
		display: none;
	}

	.nav > li.active {
		display: block;
	}

	.nav-tabs.nav-justified > li > a{
		border-radius: 4px 4px 0 0 !important;
	}

	.nav-pills > li + li {
	    margin-left: 0px;
	}
}

/* ------------------------------- MODAL ------------------------------- */
.modal-v-lg{
	width: 1320px;
}

.modal-title{
	text-align: center;
	text-transform: uppercase;
}

.modal-footer{
	padding-top: 0px;
}

.sub-pertanyaan{
	text-align:center;
	margin:20px;
}

.centered{
	width: 100%;
	text-align:center;
}

/* ----------------------------- NO SCRIPT ----------------------------- */



/* ------------------------------- OTHER ------------------------------- */

.spacer{
	margin-top: 15px;
}

.shadowed{
	-webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12), 0 1px 3px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12), 0 1px 3px 0 rgba(0, 0, 0, .2);
}

.btn-navbar{
	height: 50px;
}

.loading-bar{
	background-color: #eee;
}

