/*! Custom styles for this template */

html {
	display: table;
	height: 100%;
	width: 100%
}

body {
	display: table-cell;
	vertical-align: middle
}

.login {
	-webkit-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	animation-name: fadeInUp;
	margin-left: auto;
	margin-right: auto;
	max-width: 360px
}

.login-body {
	padding: 30px
}

.login-brand {
	display: block;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 25px;
}

.login-footer {
	margin-bottom: 15px;
	margin-top: 15px;
	text-align: center
}

@media (min-width:768px) {
	.login-body {
		background-color: #fff;
		border: 1px solid #eee;
		border-radius: 4px;
		-webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1);
		box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1);
		margin-bottom: 15px;
		margin-top: 15px
	}
}

.form-login-btn{
	padding-top: 15px;
}

.alert-message{
	text-align: center;
}

.alert-text-danger{
	color: #d50000;
}

.alert-text-success{
	color: #43a047;
}